numpy==2.3.5
scipy==1.17.0
pandas==2.2.3
matplotlib==3.10.8
scikit-image==0.26.0
scikit-learn==1.8.0
ipython==9.17.1
nbformat==5.11.1
nbclient==0.11.0
pypdf==6.10.0
PyMuPDF==1.26.6
jax==0.6.2
jaxlib==0.6.2
threadpoolctl==3.6.0
Pillow==12.3.0
lxml==6.1.1
reportlab==4.4.9
ipykernel==6.30.1
